body,
html {
  overflow-x: hidden;
}

body {
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

h5 {
  margin-bottom: 6px;
}

pre {
  margin: 0;
}

h3,
h4,
p {
  margin: 2px;
}

.section {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}

.syntax,
.example,
.reads {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  /* transform: translateX(100%); */
  transition: opacity 0.7s ease, transform 0.7s ease;
  position: relative;
}
code {
  max-width: 100%;
  text-wrap: wrap;
}
.active-section {
  opacity: 1;
  transform: translateX(0);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  background-color: #333;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar > li {
  margin-right: 20px;
  display: inline-block;
  padding: 10px 20px;
}

.navbar li a {
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover,
.dropdown-submenu-content:hover ul li {
  background-color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-submenu .dropdown-submenu-content {
  display: none;
  position: relative;
  /* left: 100%; */
  bottom: 0;
  min-width: 190px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-submenu:hover .dropdown-submenu-content {
  display: block;
}

.imagempc {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.imagemalgo {
  width: 100%;
  max-width: 700px;
  height: auto;
}

.coment {
  width: 100%;
  max-width: 30%;
  height: auto;
}

.comentarios {
  display: flex;
  flex-wrap: wrap;
}

img {
  display: block;
  margin: 8px auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border: 2px solid #000;
  margin: 0 auto;
}

.tables {
  display: flex;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}

.ementa,
.habilidades {
  background-color: #555;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.menu-toggle-checkbox {
  display: none;
}

.menu-toggle-icon {
  display: none;
}

.index > section {
  padding: 10px;
}

@media (max-width: 768px) {
  html {
    width: 100%;
  }

  header {
    overflow-x: hidden;
  }

  img {
    margin: 0 auto;
  }

  #byte table td {
    padding: 4px;
    font-size: 13px;
  }

  section {
    margin: 0;
    padding: 8px 20px;
  }

  h2 {
    margin: 6px 0;
  }

  p {
    font-size: 14px;
    text-align: justify;
    margin: 4px 0;
  }

  .coment {
    display: none;
  }

  .tables {
    display: flex;
    flex-direction: column;
  }

  .menu-toggle-icon {
    font-size: 24px;
    cursor: pointer;
    display: block;
    text-align: end;
  }

  .navbar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }

  .navbar li {
    display: block;
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    text-align: end;
    margin: 0;
    padding-right: 0;
  }
  .navbar li a {
    padding: 0;
  }

  .dropdown-content {
    position: static;
    display: none;
    background-color: #333;
  }

  .dropdown-submenu-content {
    position: static;
    display: none;
    background-color: #333;
    left: 0;
  }

  #menu-toggle-checkbox:checked ~ nav .navbar {
    display: block;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    margin: 10px 0;
    font-size: 24px;
    text-align: center;
  }

  .dropdown-content {
    display: none;
  }

  .dropdown-toggle:hover .dropdown-content {
    display: block;
  }
}
